.login {
  align-items: center;
  background-color: #FEE19D;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: auto;
  padding: 10px;
  width: 100vw;
}

.loginDiv {
  align-items: center;
  background-color: rgb(254, 250, 243);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 75%;
  width: 80%;
}

.loginDiv form {
  width: 40%;
  /* height: 50%; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.loginDiv form h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.loginDiv form input {
  padding: 10px;
  border: rgb(190, 190, 190) solid 2px;
  border-radius: 5px;
  margin: 10px 0px;
}

.login form button {
  font-weight: bold;
  padding: 15px;
  border: none;
  background-color: #FEE19D;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
}

.login form button:hover {
  cursor: pointer;
}

.loginImage {
  height: 50%;
  width: 40%;
}